@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,400&display=swap");

:root {
    --extra-light: #f3f4f6;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    background-image: url("asset/bgimg.jpeg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  header {
    position: relative;
    padding: 0 2rem;
  }

  nav {
    position: relative;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    display: flex;
  }
  

  .nav__logo a {
    font-size:2rem;
    font-weight:900;
    color: #f3f4f6;
    text-shadow: 0 0 20px rgb(241, 51, 3);
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    animation: slideLeft 1s linear forwards;
  }
  /* @media screen and (min-width: 1024px) { */
  .nav__links {
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    list-style: none;
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 999;
   animation: slideTop 1s linear forwards;
  }
  /* .toggle__btn {
    display: none;
  }
} */
  .open {
    display: flex;
  }
  
  .nav__links .link {
    font-size: 1.25rem;
    color: var(--extra-light);
    text-align: center;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .nav__links .link:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .toggle__btn {
    display: block;
    color: var(--extra-light);
    font-size: 2rem;
  }
  
  .hero {
    max-width: 1200px;
    height: calc(100vh - 80px);
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 1rem; */
    color: var(--extra-light);
  }
  
  .hero h2 {
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: 700;
    line-height: 1rem;
  }
  
  .hero h1 {
    font-size: clamp(2rem, 8vw, 6rem);/*auto scale*/
    font-weight: 700;
  }
  
  .hero button {
    width: clamp(120px, 20vw, 200px);
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 1rem;
  }
  
  @media screen and (min-width: 640px) {
    .nav__links {
      width: 250px;
    }
  
    .hero {
      align-items: flex-start;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .nav__links {
      position: unset;
      width: unset;
      flex-direction: row;
      gap: 0.5rem;
      display: flex !important;
      background: transparent;
      
    }
  
    .toggle__btn {
      display: none;
    }
  
    .toggle__btn {
      display: block;
      color: var(--extra-light);
      font-size: 2rem;
      cursor: pointer;
      /* z-index: 1001; */
      position: relative;
      z-index: 999;
    }

    .hero h2 {
      font-size: 4rem;
      opacity: 0;
      animation: slideRight 1s linear forwards;
      animation-delay: .3s;
      text-shadow: 0 0 20px rgb(241, 51, 3);
    }
  
    .hero h1 {
      font-size: 8rem;
      opacity: 0;
      animation: slideLeft 1s linear forwards;
      animation-delay: .7s;
      text-shadow: 0 0 20px rgb(241, 51, 3);
    }
  
    .btn_explore{
      cursor: pointer;
      animation: slideRight 0.5s linear forwards;
      animation-delay: .2s;
      border: 2px solid rgb(0, 13, 13);
      box-shadow: 0 0 40px aqua;
      background-color: aqua;
      color: black;
      font-weight: 700;
      transition: 0.3s; 
    }

    @media screen and (min-width: 640px) {
      .nav__links {
        width: 250px;
      }

      .hero {
        align-items: flex-start;
      }
    }

    @media screen and (min-width: 1024px) {
      .nav__links {
        position: unset;
        width: auto;
        flex-direction: row;
        gap: 1rem;
        display: flex !important;
        background: transparent;
      }

      .toggle__btn {
        display: none;
      }

      .hero {
        align-items: flex-start;
        text-align: left;
      }
    }






    @keyframes slideRight{
      0%{
          transform: translateX(-100px);
          opacity: 0;
      }
      100%{
          transform: translateX(0px);
          opacity: 1;
      }
  }
  
  
  @keyframes slideLeft{
      0%{
          transform: translateX(100px);
          opacity: 0;
      }
      100%{
          transform: translateX(0px);
          opacity: 1;
      }
  }
  
  @keyframes slideTop{
      0%{
          transform: translateY(100px);
          opacity: 0;
      }
      100%{
          transform: translateY(0px);
          opacity: 1;
      }
  }
  
  @keyframes slideBottom{
      0%{
          transform: translateY(-100px);
          opacity: 0;
      }
      100%{
          transform: translateY(0px);
          opacity: 1;
      }
  }

  }